html, body { 
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.home-bg {
  background-color: #ff9b42;
  background-image: url('public/victoria-shes-Qa29U4Crvn4-unsplash.jpg');
  background-size: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}